body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  color: white;
  padding: 20px;
}

/* h1 {
  margin: 0;
} */

.tag-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tag-button {
  background-color: #007bff;
  color: white;
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tag-button.selected {
  background-color: #004ea2;
  border: 2px solid rgb(60, 99, 197);
}

main {
  padding: 20px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  margin: 10px;
}

.card-text {
  font-size: 1rem;
  margin: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
}

.btn-secondary:hover {
  background-color: #0056b3;
}
.btn-secondary:disabled {
  cursor: not-allowed;
}

.card {
  flex: 1;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sort-filter {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
}

.sort-button {
  margin: 5px;
}

.sort-order-select {
  background-color: #363636;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 8px;
  color: white;
  padding: 6px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
}


.sort-order-select option {
  padding: 30px;
}